* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10/16*/
  font-size: 62.5%
}

:root {
  --primary-color: #1877F2;
  --negative-color: #FA383E;
  --negative-background-color: rgb(253, 233, 236);
  --negative-text-color: rgb(96, 16, 29);

  --button-secondary-background: #E4E6EB;
  --button-secondary-text: #050505;
  --button-primary-background: #1877F2;
  --button-primary-text: #FFFFFF;

  --primary-text-color: #050505;
  --secondary-text-color: #65676B;
  --link-text-color: #216FDB;
  --white-text-color: #FFFFFF;

  --background-color-default: #F0F2F5;
  --background-color-paper: #FFFFFF;
  --divider-color: #DADDE1;
  --button-overlay-hover: rgba(0, 0, 0, 0.05);
  --button-overlay-active:  rgba(0, 0, 0, 0.10);
  --text-field-background: #F0F2F5;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --appbar-height: 4rem;

  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  font-weight: var(--font-weight-regular);
  color: var(--primary-text-color);
  background-color: var(--background-color-default)
}
