#AppBar {
  background-color: #303846;
  height: var(--appbar-height);
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;

  box-shadow: 0 1px 2px var(--shadow-1);
}

.AppBar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppBar__item:not(:last-child) {
  margin-right: 2.4rem;
}

.AppBar__link {
  font-size: 1.5rem;
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  color: var(--white-text-color);
}

.AppBar__link:hover {
  text-decoration: underline;
}

.AppBar__link--active {
  font-weight: var(--font-weight-bold);
}
